<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.magata.net">

    <application>
        <activity
            android:name=".loading.LoadingActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:launchMode="singleTop"
            android:exported="false" />
    </application>

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>