<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.magata.huawei">

    <application>
        <meta-data
            android:name="com.huawei.hms.client.appid"
            android:value="${huaweiAppId}">
        </meta-data>
        <meta-data
            android:name="com.huawei.hms.client.cpid"
            android:value="${huaweiCpId}">
        </meta-data>

        <meta-data
            android:name="com.huawei.hms.client.channel.androidMarket"
            android:value="false" />
    </application>
</manifest>