<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.magata.fileprovider">
    <application
    >
    <provider
        android:name="com.magata.fileprovider.MagataFileProvider"
        android:authorities="${applicationId}.magata.fileprovider"
        android:grantUriPermissions="true"
        android:exported="false">
        <meta-data
            android:name="android.support.FILE_PROVIDER_PATHS"
            android:resource="@xml/magata_file_paths" />
    </provider>
</application>

</manifest>